###################################################################################
#                                                                                 #
# NAME: .gitignore                                                                #
#                                                                                 #
# AUTHOR: Michael Brockus.                                                        #
#                                                                                 #
# CONTACT: <mailto:michael@squidfarts.com>                                        #
#                                                                                 #
# NOTICES:                                                                        #
#                                                                                 #
# License: Apache 2.0 :http://www.apache.org/licenses/LICENSE-2.0                 #
#                                                                                 #
###################################################################################

# The build dir.
build_dir

# Python scripts in Meson IntilleJ wrapper scripts.
*.pyc
*.swp
*.egg-info
*.so

# User-specific stuff from any InteilleJ idea project.
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Othor files.
.DS_Store
